<!DOCTYPE html>
<html>
<head>
    <style>

    body {
      font: 20px sans-serif;
    }

    .group-tick line {
      stroke: #000;
    }

    .ribbons {
      fill-opacity: 0.67;
    }

    </style>
    <title>RescueMark</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div id='chord'></div>
        <svg width="1000" height="1000"></svg>
    </div>
  
    <script type="text/javascript" src="lib/d3.js"></script>
    <script type="text/javascript" src="lib/d3.layout.cloud.js"></script>
    <script type='text/javascript' src='js/chord.js'></script>
    <!-- Library for sunburst -->
</body>
</html>
